.foto-for-single-phone {
    width: 434px;
    height: 498px;
    padding: 0
}

.addTo {
    display: block;
}

.btn-addTo {
    margin: 38px;
}

.one-phone-photo {
    display: flex;
    justify-content: center;
}